name: StaleSweeper

on:
  schedule:
    # Run daily at 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch: # Allow manual trigger

permissions:
  discussions: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - name: StaleSweeper
        # You may pin to the exact commit or the version.
        # uses: steffen-karlsson/stalesweeper@cbed739a89b490f703d8466fb59b37ddc0915889
        uses: steffen-karlsson/stalesweeper@v1.1.1
        with:
          # Token for the repository. Can be passed in using `{{ secrets.GITHUB_TOKEN }}`.
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          # The number of days to wait before closing a stale discussion.
          days-before-close: 30
          # If set to `true`, stale discussions that have not been marked as answered will also be closed.
          close-unanswered: false
          # The reason to use when closing a discussion. Options include `DUPLICATE`, `OUTDATED`, and `RESOLVED`.
          close-reason: outdated
          # If set to `true`, the processor will run in debug mode without performing any operations on live discussions.
          dry-run: false
          # If set to `true`, the processor will print out relevant information on all steps, including usage of GitHub API rate limits.
          verbose: true
